$mainTxtColor : rgb(255, 251, 202);
$mainBgColor :rgb(63, 56, 56);


*{
    margin : 0px;
    padding : 0px;
    box-sizing:border-box;
}

nav{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    min-height: 7vh;
    background-color: $mainBgColor;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    color: $mainTxtColor;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around ;
    width: 30%;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: $mainTxtColor;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.legit{
    display: none;
    cursor: pointer;
}
.legit div{
    width: 25px;
    height: 3px;
    background-color: $mainTxtColor;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }    
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 93vh;
        top: 7vh;
        background-color: $mainBgColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .legit{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}


@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.garis .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.garis .line2{
    opacity: 0;
}
.garis .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
